* {
	font-family: "Laila", sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: white;
	margin-bottom: 90px;
}

.container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	height: 110px;
	width: auto;
	background-color: rgba(20, 130, 175, 1);
	border-radius: 0 0 50px 50px;
	margin-bottom: 10px;
}

header svg {
	width: 159px;
	height: 34px;
	margin-top: 15px;
}

.logo {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cuerpo {
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}
.Botones {
	transition: box-shadow 0.3s ease;
	width: 240px;
	height: 37px;
	margin: 15px 10px 15px 0;
	background-color: #e1f1f8;
	border-radius: 4px;
	border: #e1f1f8;
	color: #1482af;
	cursor: pointer;
}

.ingresar {
	background-color: #1482af;
	color: #e1f1f8;
}

.Botones:hover {
	box-shadow: 0 0.08rem 0.4rem rgba(20, 130, 175, 0.3);
}

.ingresar:hover {
	box-shadow: 0 0.08rem 0.4rem rgba(75, 74, 98, 0.6);
}
