* {
  border: solid black 1px;
}

#logo {
  margin: 10px 15px 20px 25px;
  padding: 20px 20px 15px 10px;
  background-color: blue;
  text-align: center;
  text-decoration: underline;
}

.Boton-1 {
  transform: translateX(-50%);
  margin-left: 50%;
}
.Boton-2 {
  margin-left: 50%;
}
