<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="STYLESHEET" href="../css/_graficos.css" />

		<title>Document</title>
	</head>

	<body>
		<div class="container">
			<div class="caja-superior">
				<div class="span-cajasup">
					<span>Historico</span>
					<span>Abril</span>
					<span>Mayo</span>
					<span>Junio</span>
					<span>Julio</span>
				</div>

				<img
					class="grafico"
					src="../assets/img/WhatsApp Image 2022-05-20 at 11.39.37 PM.jpeg"
				/>
			</div>

			<div class="caja-inferior"></div>
		</div>
	</body>
</html>
